<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sangsolutions.powerbear">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".GoodsReceiptHistory"></activity>
        <activity android:name=".DeliveryNoteHistory" />
        <activity android:name=".GoodsReceipt" />
        <activity android:name=".PendingPO" />
        <activity
            android:name=".StockCountList"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".StockCountWarehouse"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".StockCount"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".AddProduct"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".SelectDN"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".Home" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Services.GetProductService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.GetPendingSoService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.GetUserService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.GetWareHouse"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.GetPendingPOService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>