<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sangsolutions.powerbear">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SetIPActivity"/>
        <activity
            android:name=".ReportOPAndSO"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ReportGoods_Stock_Delivery"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".SelectCustomerOrProduct"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".ReportMain"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GoodsReceiptHistory"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".DeliveryNoteHistory"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GoodsReceipt"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PendingPO"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".StockCountList"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".StockCountWarehouse"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".StockCount"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".AddDeliveryNote"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".SelectCustomer"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Home"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".Services.GetProductService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.GetPendingSoService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.GetUserService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.GetWareHouse"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.GetPendingPOService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.PostDeliveryNote"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.PostGoodsReceipt"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".Services.PostStockCount"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>